<!-- Diseño del modo (big) - Para Películas -->
<div *ngIf="movie.type === 'movie' && mode==='big'" class="card-player player-big">
  <img appImgBroken [src]="movie.cover" [alt]="movie.name" class="cover">
  <div class="content-player">
    <div class="title-track" style="font-size: .8em; color: aliceblue;">{{ movie.name }}</div>
    <div class="sub-title-track">{{ movie.year }}</div>
  </div>
  <div class="buttons-player">
    <button (click)="sendPlay(movie)" class="play-btn">
      <i class="uil uil-play"></i>
    </button>
  </div>
</div>

<!-- Diseño del modo (small) - Adaptado para Series -->
<div *ngIf="movie.type === 'serie' && mode==='small'" class="card-player player-small">
  <img appImgBroken [src]="movie.cover" [alt]="movie.name" class="cover">
  <div class="content-player">
    <div class="title-track" style="font-size: .8em; color: aliceblue;">{{ movie.name }}</div>
    <div class="sub-title-track">{{ movie.year }}</div>
  </div>
  <div class="buttons-player">
    <button (click)="sendPlay(movie)" class="play-btn">
      <i class="uil uil-play"></i>
    </button>
  </div>
</div>


