/* You can add global styles to this file, and also import other style files */
:root{
    --color-1: #0E273C;
    --color-2: #0175B0;
    --color-3: #FDFFFC;
    --color-4: #F1A66A;
    --color-5: #7F95D1;
    --font-size-1: 1em;
    --font-size-2: 1.2em;
    --font-size-3: 1.8em;
    --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', sans-serif;
    --animation-1: 200ms;
}

html, 
body{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
}